Arle/n8n/workflows.json
[{"createdAt":"2025-08-25T20:42:34.349Z","updatedAt":"2025-08-26T14:14:18.627Z","id":"RgKtOFpUOY3ZCmtF","name":"Get Trello","active":false,"isArchived":false,"nodes":[{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.3,"position":[-112,-32],"id":"a0419560-2b8a-4e3d-9008-50992ce301c2","name":"When chat message received","webhookId":"ddea96dc-df6b-43d3-91bd-30a68488bdc6"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[-48,176],"id":"fdccbe94-e5ff-4f56-99eb-9b9888d513db","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"UOPSwPuCG3W8AUMd","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[112,176],"id":"01025d3d-0b1e-4a75-b19d-cac4d3c12b96","name":"Simple Memory"},{"parameters":{"url":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('URL', ``, 'string') }}","options":{}},"type":"n8n-nodes-base.httpRequestTool","typeVersion":4.2,"position":[288,160],"id":"62a33bf0-0a4a-4ef9-8166-0d4cb66ddba3","name":"HTTP Request"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[432,112],"id":"a2e5a0a0-5744-4355-aa49-9e4c54031fa3","name":"Google Gemini Chat Model1","credentials":{"googlePalmApi":{"id":"UOPSwPuCG3W8AUMd","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[560,160],"id":"79f89f0c-675c-43e3-b869-46ccb92847f7","name":"Simple Memory1"},{"parameters":{"options":{"systemMessage":"Tu eres una IA encargada de revisar datos de un Trello, revisas lo que te piden y solamente en caso de ser necesario, puedes pasar los datos obtenidos al siguiente agente de IA para que el investigue en internet, pero recuerda que si tiene que ver con alguna cosa del trello, es labor tuya, tu solo pasas datos, pero las busquedas en trello las haces tu.\n\nLa URL para acceder a Trello es esta, ya tu miras como obtinenes los datos\n\nhttps://api.trello.com/1/members/me/boards?key=3dfd20e771d7e09c6cd37ab408370acb&token=ATTA0194d89e8a5ba23f33bce4c77a09dfd23892ecff800e1d5d638ba85874af02a60BA174A9"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[64,-48],"id":"e4029273-8fa5-4a2b-8459-14a538effb4c","name":"Primer Agent 1"},{"parameters":{"promptType":"define","text":"={{ $json.output }}","options":{"systemMessage":"Tu eres una IA que ayuda a investigar, tu labor es recibir datos de otro agente de IA y estos datos buscarlos en internet dependiendo de lo que te pidan, ya sea que te pidan describir o investigar algo, tu buscas en internet o piensas y arrojas la respuesta adecuada a lo que se te pide.\n\nComo dato adicional, si te preguntan acerca de story points, tu te documentas acerca de eso y eres muy bueno en la recomendación sobre cual es el valor del story point, ya sea que busques en internet pienses, pero eres capaz de ayudar a sacar story points"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[512,-48],"id":"0267a1b1-4663-4bdf-93b0-d0b44df0346f","name":"Segundo Agent 2"}],"connections":{"When chat message received":{"main":[[{"node":"Primer Agent 1","type":"main","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"Primer Agent 1","type":"ai_languageModel","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"Primer Agent 1","type":"ai_memory","index":0}]]},"HTTP Request":{"ai_tool":[[{"node":"Primer Agent 1","type":"ai_tool","index":0}]]},"Google Gemini Chat Model1":{"ai_languageModel":[[{"node":"Segundo Agent 2","type":"ai_languageModel","index":0}]]},"Simple Memory1":{"ai_memory":[[{"node":"Segundo Agent 2","type":"ai_memory","index":0}]]},"Primer Agent 1":{"main":[[{"node":"Segundo Agent 2","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"8ef11326-da18-444f-bcb3-69f698ca9f65","triggerCount":0,"tags":[],"shared":[{"createdAt":"2025-08-25T20:42:34.349Z","updatedAt":"2025-08-25T20:42:34.349Z","role":"workflow:owner","workflowId":"RgKtOFpUOY3ZCmtF","projectId":"pvlxASeQ4HbpfWk0","project":{"createdAt":"2025-08-14T15:12:10.774Z","updatedAt":"2025-08-14T16:06:50.524Z","id":"pvlxASeQ4HbpfWk0","name":"Javier Galvis <javierstivengalvis2008@gmail.com>","type":"personal","icon":null,"description":null}}]},{"createdAt":"2025-08-18T22:33:59.520Z","updatedAt":"2025-08-25T03:46:37.103Z","id":"u1QtoC0Ps7YiVZ0S","name":"My workflow","active":false,"isArchived":false,"nodes":[{"parameters":{"resource":"board","name":"Euseeeebio","description":"Eusebio es un grande","additionalFields":{}},"type":"n8n-nodes-base.trello","typeVersion":1,"position":[-160,176],"id":"e05c31b9-c127-41e1-ac66-5e21b41aee5e","name":"Create a board","credentials":{"trelloApi":{"id":"MUwDIN8p3p6PZaVi","name":"Trello account"}}},{"parameters":{"listId":"={{ $('Create a list').item.json.id }}","name":"=actividad  {{ $json.counter }}","additionalFields":{}},"type":"n8n-nodes-base.trello","typeVersion":1,"position":[736,400],"id":"7414f36a-6b0f-4ba6-8ee6-b930de826a70","name":"Create a card","credentials":{"trelloApi":{"id":"MUwDIN8p3p6PZaVi","name":"Trello account"}}},{"parameters":{"resource":"list","idBoard":"={{ $json.id }}","name":"Backlog","additionalFields":{}},"type":"n8n-nodes-base.trello","typeVersion":1,"position":[80,176],"id":"24ccafd1-903c-497e-8534-5a660833e167","name":"Create a list","credentials":{"trelloApi":{"id":"MUwDIN8p3p6PZaVi","name":"Trello account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"a3f499ea-8d47-48a4-8628-61d2a6ececb1","leftValue":"={{ $json.counter }}","rightValue":"={{ $('Edit Fields1').item.json.countermax }}","operator":{"type":"number","operation":"equals"}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[416,272],"id":"66388c12-8cea-4a8e-bd69-7a577f831626","name":"If1"},{"parameters":{"assignments":{"assignments":[{"id":"4cf5fc59-bd12-47d4-a6b9-9e9f38690c87","name":"countermax","value":5,"type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-320,176],"id":"25c599ce-3ec7-41ad-b44f-860c9101709b","name":"Edit Fields1"},{"parameters":{"listId":"={{ $('Create a list').item.json.id }}","name":"Ultima card","additionalFields":{}},"type":"n8n-nodes-base.trello","typeVersion":1,"position":[720,144],"id":"b35aa9c8-d814-4504-9a63-2cf9d669c431","name":"Create a card1","credentials":{"trelloApi":{"id":"MUwDIN8p3p6PZaVi","name":"Trello account"}}},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-512,176],"id":"ed279daf-5c13-498e-9f47-362a19cab871","name":"When clicking ‘Execute workflow’"},{"parameters":{"jsCode":"// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nlet previo \n\ntry{\n    previo = $('Code1').first().json.counter;\n}catch(error){\n    previo = undefined\n}\n\nlet counter = previo !== undefined ? previo : 0\n\nreturn [{json: {counter}}]"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[240,240],"id":"6d5a1290-3bcd-43ee-ba83-322e73cedb95","name":"Code"},{"parameters":{"jsCode":"// Loop over input items and add a new field called 'myNewField' to the JSON of each one\n\nlet counter = $input.first().json.counter + 1\n\nreturn [{json: {counter}}]"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[592,352],"id":"a0d96509-3b8b-4a95-99e4-f7102e4869ff","name":"Code1"}],"connections":{"Create a board":{"main":[[{"node":"Create a list","type":"main","index":0}]]},"Create a card":{"main":[[{"node":"Code","type":"main","index":0}]]},"Create a list":{"main":[[{"node":"Code","type":"main","index":0}]]},"If1":{"main":[[{"node":"Create a card1","type":"main","index":0}],[{"node":"Code1","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"Create a board","type":"main","index":0}]]},"When clicking ‘Execute workflow’":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"Code":{"main":[[{"node":"If1","type":"main","index":0}]]},"Code1":{"main":[[{"node":"Create a card","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"95a673af-54aa-4bd5-91a4-f1bbda1e5b5b","triggerCount":0,"tags":[],"shared":[{"createdAt":"2025-08-18T22:33:59.520Z","updatedAt":"2025-08-18T22:33:59.520Z","role":"workflow:owner","workflowId":"u1QtoC0Ps7YiVZ0S","projectId":"pvlxASeQ4HbpfWk0","project":{"createdAt":"2025-08-14T15:12:10.774Z","updatedAt":"2025-08-14T16:06:50.524Z","id":"pvlxASeQ4HbpfWk0","name":"Javier Galvis <javierstivengalvis2008@gmail.com>","type":"personal","icon":null,"description":null}}]},{"createdAt":"2025-08-18T22:34:00.919Z","updatedAt":"2025-08-19T13:27:01.179Z","id":"1vJjP711sdGWiIHN","name":"My workflow","active":false,"isArchived":true,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[0,0],"id":"02509d22-66b3-4732-ad18-bd66672c552c","name":"When clicking ‘Execute workflow’"}],"connections":{},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"03653ee7-e09c-4336-a087-c57e92a03150","triggerCount":0,"tags":[],"shared":[{"createdAt":"2025-08-18T22:34:00.919Z","updatedAt":"2025-08-18T22:34:00.919Z","role":"workflow:owner","workflowId":"1vJjP711sdGWiIHN","projectId":"pvlxASeQ4HbpfWk0","project":{"createdAt":"2025-08-14T15:12:10.774Z","updatedAt":"2025-08-14T16:06:50.524Z","id":"pvlxASeQ4HbpfWk0","name":"Javier Galvis <javierstivengalvis2008@gmail.com>","type":"personal","icon":null,"description":null}}]},{"createdAt":"2025-08-25T23:56:35.381Z","updatedAt":"2025-08-25T23:56:35.381Z","id":"Avw3Jsv5HtCipEdS","name":"My workflow 3","active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-176,-48],"id":"b315d07c-3d23-465a-8080-82f0c87f2743","name":"When clicking ‘Execute workflow’"}],"connections":{},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"bbf97d5c-6005-4eda-b61d-e51c8d94ea28","triggerCount":0,"tags":[],"shared":[{"createdAt":"2025-08-25T23:56:35.381Z","updatedAt":"2025-08-25T23:56:35.381Z","role":"workflow:owner","workflowId":"Avw3Jsv5HtCipEdS","projectId":"pvlxASeQ4HbpfWk0","project":{"createdAt":"2025-08-14T15:12:10.774Z","updatedAt":"2025-08-14T16:06:50.524Z","id":"pvlxASeQ4HbpfWk0","name":"Javier Galvis <javierstivengalvis2008@gmail.com>","type":"personal","icon":null,"description":null}}]},{"createdAt":"2025-09-04T13:13:47.208Z","updatedAt":"2025-09-04T20:57:39.416Z","id":"uLpf2Qd6VZKlAhvE","name":"Crear Jira","active":false,"isArchived":false,"nodes":[{"parameters":{"options":{"systemMessage":"Tu eres un asistente que se encarga de revisar todas las páginas del espacio de trabajo y la información de esta, y retornarla\n\n- Se entiende por tareas o puntos principales o sinónimos a aquellos títulos que tienen un numero entero a la izquierda.\n\n- Si te encuentras un titulo con subtitulos o que son partes de ese titulo (ejemplo: 5,  5.1,   5.2), estos se cuentan dentro del titulo principal, asi haciendose un story point para todo el titulo\n\n- En caso de tener dudas entre diferentes páginas con nombres similares se debe preguntar al usuario cual es a la que se refiere. \n\nEL usuario solo debe introducir el nombre de la página a la que quiere que se le analicen las tareas y se saquen los story points junto con una descripción.\n\nLos story point (no tienen que ser exactos pero puedes investigar un poco en internet para saber más o menos cuantos puntos darle a cada tarea) y la breve descripción las das tu como asistente\n\n-Para dar los story points usa la secuencia de Fibonacci hasta el 21"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[176,-432],"id":"49a31453-1780-4cf8-98d2-3c75ac2569fc","name":"AI Agent"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.3,"position":[-64,-432],"id":"ebba406f-e950-431c-a885-160d42c833cb","name":"When chat message received","webhookId":"766e0de0-801b-4a47-b487-0ebc5e3018a5"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[144,-240],"id":"096e1e80-3f4b-449e-90b7-093468e701c3","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"UOPSwPuCG3W8AUMd","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[256,-208],"id":"dcdf709d-93bb-4f2d-9942-2da3e2789fca","name":"Simple Memory"},{"parameters":{"operation":"search","text":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Search_Text', ``, 'string') }}","limit":100,"simple":false,"options":{}},"type":"n8n-nodes-base.notionTool","typeVersion":2.2,"position":[416,-240],"id":"23402ace-0467-4066-9a13-fb61ce03140e","name":"Search a page in Notion","credentials":{"notionApi":{"id":"38MtxtKU80jMlroW","name":"Notion account"}}},{"parameters":{"resource":"block","operation":"getAll","blockId":{"__rl":true,"mode":"id","value":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Block', ``, 'string') }}"},"limit":100,"simplifyOutput":false},"type":"n8n-nodes-base.notionTool","typeVersion":2.2,"position":[528,-256],"id":"74a7fb45-a09d-4994-bfff-99510afd40e9","name":"Get many child blocks in Notion","credentials":{"notionApi":{"id":"38MtxtKU80jMlroW","name":"Notion account"}}}],"connections":{"When chat message received":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"Search a page in Notion":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Get many child blocks in Notion":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"b36829bd-ddf3-4a0d-bab8-acdcdd7116ee","triggerCount":0,"tags":[],"shared":[{"createdAt":"2025-09-04T13:13:47.208Z","updatedAt":"2025-09-04T13:13:47.208Z","role":"workflow:owner","workflowId":"uLpf2Qd6VZKlAhvE","projectId":"pvlxASeQ4HbpfWk0","project":{"createdAt":"2025-08-14T15:12:10.774Z","updatedAt":"2025-08-14T16:06:50.524Z","id":"pvlxASeQ4HbpfWk0","name":"Javier Galvis <javierstivengalvis2008@gmail.com>","type":"personal","icon":null,"description":null}}]}]